beautifulsoup4 >= 4.4.0
Cython >= 0.27
numpy >= 1.14
pandas >= 0.18.1
pystan
fbprophet
Flask >= 0.12
flask-compress
Werkzeug >= 0.14
requests
plotly
dash-renderer == 0.12.1
dash-html-components ==0.10.1
dash-core-components ==0.22.1
dash == 0.21.1
